#MainScreen {
  font: 14px Segoe UI, Calibri, Arial, Helvetica;
}
#MainScreen nav {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 360px;
}
#MainScreen main {
  position: fixed;
  top: 0px;
  left: 360px;
  bottom: 0px;
  right: 0px;
}
#MainScreen nav {
  background: #eee;
}
#MainScreen nav .head {
  padding: 15px 25px;
}
#MainScreen nav .head label {
  font-weight: bold;
}
#MainScreen nav .head .current-folder {
  background: white;
  height: 30px;
  padding-top: 4px;
  border: 1px solid rgba(0,0,0,0.25);
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
#MainScreen nav .head .current-folder span {
  display: inline-block;
  position: absolute;
  right: 6px;
  min-width: calc(100% - 12px);
}
#MainScreen nav .head .controls {
  text-align: right;
  margin-top: 5px;
}
#MainScreen nav .head button {
  text-align: right;
}
#MainScreen nav .folder-list {
  border-top: 1px solid rgba(0,0,0,0.25);
  background: #f6f6f6;
  padding-bottom: 50px;
}
#MainScreen nav .folder-list a {
  display: block;
  padding: 4px 20px 6px 20px;
  nembackground: white;
  text-decoration: none;
}
#MainScreen nav .folder-list a:hover {
  text-decoration: none;
  background: steelblue;
  color: white;
}
#MainScreen main {
  outline: 1px solid rgba(0,0,0,0.25);
}
#MainScreen main .doing {
  background: #044072;
  color: white;
  text-align: center;
  position: fixed;
  top: 0px;
  height: 40px;
  left: 360px;
  right: 0px;
  padding-top: calc( 40px  / 2 - 1.2ex);
}
#MainScreen main .doing b {
  font-weight: normal;
  color: yellow;
}
#MainScreen main .results {
  background: #fff;
  position: fixed;
  top: 40px;
  bottom: 0px;
  left: 360px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
}
#MainScreen main .results .size {
  width: 150px;
  color: #3773a5;
}
#MainScreen main .results .diag {
  width: 150px;
  padding-top: 4px;
  padding-bottom: 0;
  vertical-align: middle;
}
#MainScreen main .results .diag div {
  display: inline-block;
  background: steelblue;
  height: 21px;
  border-left: 1px solid steelblue;
}
#MainScreen .folder-list {
  position: fixed;
  left: 0px;
  width: 360px;
  bottom: 0px;
  top: 135px;
  height: auto;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
}
#MainScreen table .size {
  text-align: right;
}
