.centerback {
  background-repeat: no-repeat;
  background-position: center center;
}
* {
  box-sizing: border-box;
}
html,
.article-holder {
  scroll-behavior: smooth;
}
body {
  font: 16px ;
  color: black;
}
.all-center {
  display: grid;
  align-items: center;
  justify-items: center;
}
.hide-by-default {
  display: none;
}
center-pls {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body > header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}
body > header .user-login-box {
  position: fixed;
  top: 10px;
  right: 5vw;
  z-index: 3005;
  font: 15px arial;
  color: rgba(255,255,255,0.7);
}
body > header .user-login-box .logged-in {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}
body > header .user-login-box .logged-in .buttons {
  margin-top: -5px;
}
body > header .user-login-box .logged-in .buttons .btn {
  padding: 3px 12px;
  margin: 0px;
  opacity: 0.6;
}
body > header .user-login-box .logged-in .buttons .btn:hover {
  opacity: 1;
}
body > header .user-login-box .username b {
  font-weight: normal;
  color: white;
}
body > header .user-login-box .buttons {
  margin-top: 10px;
  text-align: right;
}
nav {
  position: fixed;
  top: 120px;
  left: 0px;
  right: 0px;
  height: 40px;
  background: #1f394f;
  padding: 0px 40px;
  min-height: 36px;
  color: rgba(255,255,255,0.8);
}
nav .next {
  display: inline-block;
  width: 0px;
  font-size: 11px;
  transform: translateX(8px) scaleX(0.6) scaleY(1.3) translateY(-1px);
  color: rgba(255,255,255,0.5);
}
nav a {
  display: inline-block;
  font: 17px ;
  color: black;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  padding: 9px 14px 0px 16px;
  height: 40px;
  margin-left: -6px;
  margin-right: -4px;
}
nav a:hover,
nav a:active,
nav a:focus {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: white;
  background: black;
  position: relative;
}
nav a:hover .next,
nav a:active .next,
nav a:focus .next {
  visibility: hidden;
}
nav span.current {
  display: inline-block;
  font: 17px ;
  color: black;
  padding: 9px 14px 0px 16px;
  height: 40px;
  margin-left: -6px;
  color: #ffff80;
}
main {
  margin-top: 160px;
}
.btn.btn-primary {
  background: linear-gradient(#1b5789,#00396b);
  border-color: #001f51;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
  border: none;
}
.title-text {
  font: 32px Trebuchet MS, Tahoma, Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-bottom: 30px;
  color: black;
}
.title-numbers {
  display: inline-block;
  font-size: 12px;
  color: steelblue;
  text-align: right;
  border-right: 1px solid silver;
  padding-right: 10px;
  margin-right: 15px;
}
.title-group {
  display: none;
}
.article-controls {
  position: absolute;
  right: 30%;
  margin-top: -98px;
  margin-right: 20px;
  padding: 2px 40px;
  display: flex;
  background: #1f394f;
  border-radius: 8px 8px 0px 0px;
}
.article-controls .hide-by-default {
  display: none;
}
.article-controls a {
  display: grid;
  margin: 2px 1px;
  align-items: center;
  font-size: 16px;
  background: rgba(255,255,255,0.2);
  color: white;
  padding: 0px 15px 2px 15px;
  height: 36px;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 5px;
  text-decoration: none;
  transition: all 400ms ease;
}
.article-controls a:hover {
  background-color: rgba(0,0,0,0.4);
  transition: all 100ms ease;
}
.page-holder.contains-cover-article .article-contents .title {
  display: none;
}
.dialog-holder .edithistory-table td {
  padding: 2px 15px;
  border-left: 1px solid silver;
}
.dialog-holder .edithistory-table td:first-of-type {
  border-left: none;
}
.dialog-holder .edithistory-modify-button {
  position: absolute;
  top: 12px;
  right: 10px;
  box-shadow: 1px 1px 2px 0px rgba(255,255,255,0.4);
}
.dialog-holder .edithistory-modify {
  width: 500px;
  height: 300px;
  white-space: nowrap;
}
.creation-form-holder {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 20vh;
}
.creation-form-holder form header {
  font: 24px ;
  color: steelblue;
  padding-bottom: 20px;
}
.creation-form-holder form table {
  width: 500px;
}
.creation-form-holder form td {
  padding: 2px;
}
.creation-form-holder form td:nth-of-type(1) {
  text-align: right;
  padding-right: 14px;
}
.creation-form-holder form input,
.creation-form-holder form select {
  font-size: 16px;
}
.creation-form-holder form contents-holder {
  display: block;
  padding: 20px 50px;
  border: 1px solid #ccc;
  border-width: 1px 0px;
  background: #f4f4f4;
}
.creation-form-holder form controls-holder {
  display: block;
  text-align: right;
  padding-top: 20px;
}
.article-contents .text-red {
  color: #dd0000;
  text-shadow: 0px 0px 0px #dd0000;
}
.article-contents .text-green {
  color: #24a424;
}
.article-contents .text-blue {
  color: blue;
}
.article-contents .text-olive {
  color: olive;
}
.article-contents .text-orange {
  color: orange;
}
.article-contents h6 {
  font: 14px verdana;
  background: #c00;
  padding: 4px 20px;
  color: white;
  display: inline-block;
  border: 1px solid maroon;
}
.article-contents>h2 .not-yet {
  color: #aaa;
}
.article-contents h1 {
  font: 31px Trebuchet MS, Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-bottom: 25px;
  color: black;
  letter-spacing: -0.66px;
}
.article-contents h2 {
  font: 22px Trebuchet MS, Helvetica, Arial, sans-serif;
  margin-top: 45px;
  margin-bottom: 25px;
  color: #003769;
  letter-spacing: -0.66px;
}
.article-contents h3 {
  font: 18px Trebuchet MS, Helvetica, Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #518dbf;
}
.article-contents h2 > div.chapter {
  position: absolute;
  font: 15px arial;
  letter-spacing: 0px;
  color: gray;
  margin-top: -32px;
  border-bottom: 1px solid silver;
  padding-bottom: 4px;
}
.article-contents summary {
  margin-top: -16px;
  margin-bottom: 20px;
  border: 1px solid rgba(0,0,0,0.25);
  border-width: 2px 0px;
  background-color: #fff8b0;
  color: rgba(0,0,0,0.9);
  padding: 20px 36px;
}
.article-contents img {
  border: 1px solid rgba(0,0,0,0.5);
  box-shadow: 1px 4px 15px -2px rgba(0,0,0,0.4);
  margin: 25px;
  display: block;
}
.article-contents img.plain {
  box-shadow: none;
  border: none;
}
.article-contents img.block {
  display: block;
}
.article-contents img.right {
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.article-contents img.left {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.article-contents img.center {
  margin-left: auto;
  margin-right: auto;
}
.article-contents img.full {
  margin: 4px;
  max-width: 100%;
}
.article-contents img.half {
  margin: 4px;
  max-width: calc(50% - 12px);
  display: inline-block;
}
.article-contents img.third {
  margin: 4px;
  max-width: calc(33% -  9px);
  display: inline-block;
}
.article-contents img.quarter {
  margin: 4px;
  max-width: calc(25% - 12px);
  display: inline-block;
}
.article-contents img.p20 {
  max-width: 20%;
}
.article-contents img.p30 {
  max-width: 30%;
}
.article-contents img.p40 {
  max-width: 40%;
}
.article-contents img.p50 {
  max-width: 50%;
}
.article-contents img.p60 {
  max-width: 60%;
}
.article-contents img.p70 {
  max-width: 70%;
}
.article-contents img.p80 {
  max-width: 80%;
}
.article-contents img.p90 {
  max-width: 90%;
}
.article-contents img.p25 {
  max-width: 25%;
}
.article-contents img.p33 {
  max-width: 33%;
}
.article-contents img.p66 {
  max-width: 66%;
}
.article-contents img.p75 {
  max-width: 75%;
}
.article-contents img.p100 {
  max-width: 100%;
}
.article-contents img.w100 {
  width: 100px;
}
.article-contents img.w150 {
  width: 150px;
}
.article-contents img.w200 {
  width: 200px;
}
.article-contents img.w250 {
  width: 250px;
}
.article-contents img.w300 {
  width: 300px;
}
.article-contents img.w350 {
  width: 350px;
}
.article-contents img.w400 {
  width: 400px;
}
.article-contents img.w450 {
  width: 450px;
}
.article-contents img.w500 {
  width: 500px;
}
.article-contents img.w550 {
  width: 550px;
}
.article-contents img.w600 {
  width: 600px;
}
.article-contents img.w650 {
  width: 650px;
}
.article-contents img.w700 {
  width: 700px;
}
.article-contents img.w750 {
  width: 750px;
}
.article-contents img.w800 {
  width: 800px;
}
.article-contents img {
  transform: rotate(0deg);
}
.article-contents code {
  background: #ddd;
  color: #00c;
  margin: 0px 5px 0px 7px;
}
.article-contents pre code {
  white-space: pre !important;
  background: #111;
  color: #eee;
  display: block;
  border: none;
}
.article-contents pre {
  margin-bottom: 25px;
  background: #111;
}
.article-contents .image-style-side {
  float: left;
  margin-top: 0;
}
.article-contents .hljs-keyword,
.article-contents .hljs-literal,
.article-contents .hljs-symbol,
.article-contents .hljs-name {
  color: #569CD6;
}
.article-contents .hljs-link {
  color: #569CD6;
  text-decoration: underline;
}
.article-contents .hljs-built_in,
.article-contents .hljs-type {
  color: #4EC9B0;
}
.article-contents .hljs-number,
.article-contents .hljs-class {
  color: #B8D7A3;
}
.article-contents .hljs-string,
.article-contents .hljs-meta-string {
  color: #D69D85;
}
.article-contents .hljs-regexp,
.article-contents .hljs-template-tag {
  color: #9A5334;
}
.article-contents .hljs-subst,
.article-contents .hljs-function,
.article-contents .hljs-title,
.article-contents .hljs-params,
.article-contents .hljs-formula {
  color: #DCDCDC;
}
.article-contents .hljs-comment,
.article-contents .hljs-quote {
  color: #57A64A;
  font-style: italic;
}
.article-contents .hljs-doctag {
  color: #608B4E;
}
.article-contents .hljs-meta,
.article-contents .hljs-meta-keyword,
.article-contents .hljs-tag {
  color: #9B9B9B;
}
.article-contents .hljs-variable,
.article-contents .hljs-template-variable {
  color: #BD63C5;
}
.article-contents .hljs-attr,
.article-contents .hljs-attribute,
.article-contents .hljs-builtin-name {
  color: #9CDCFE;
}
.article-contents .hljs-section {
  color: gold;
}
.article-contents .hljs-emphasis {
  font-style: italic;
}
.article-contents .hljs-strong {
  font-weight: bold;
}
.article-contents .hljs-bullet,
.article-contents .hljs-selector-tag,
.article-contents .hljs-selector-id,
.article-contents .hljs-selector-class,
.article-contents .hljs-selector-attr,
.article-contents .hljs-selector-pseudo {
  color: #D7BA7D;
}
.article-contents .hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}
.article-contents .hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
.article-contents figure {
  margin: auto;
}
.article-contents figure img {
  width: 100%;
  margin: 0;
  border: none;
  box-shadow: none;
}
.article-contents figure figcaption {
  text-align: center;
  margin-top: 9px;
}
.article-contents hr {
  border-color: silver;
}
.article-contents hr.slim {
  margin-top: 4px;
  margin-bottom: 4px;
}
.article-contents .todo-list input[type='checkbox'] {
  transform: translateY(-3px);
}
.article-contents .todo-list li {
  list-style-type: none;
}
.article-contents .todo-list .todo-list__label {
  font-weight: normal;
}
.article-contents .todo-list .todo-list__label > input {
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  border: 0;
  left: -25px;
  margin-right: -15px;
  right: 0;
  margin-left: 0;
}
.article-contents .todo-list .todo-list__label > input:before {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: "";
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  border-radius: 2px;
  transition: box-shadow .25s ease-in-out, background .25s ease-in-out, border .25s ease-in-out;
}
