
body {background:#222;}

#MainScreen {
    padding: 50px 80px;
}

h1 {
    font:32px Calibri, sans-serif;
    color:orange;
}

button {
    border:none;
    font:14px tahoma; color:silver;
    background:#444; padding:8px 16px; margin:4px;
    border:1px solid rgba(0,0,0,85%); border-radius:4px;
    cursor:pointer;
}
button:hover {
    color:white;
    background:#555;
}

.hello-what {
    border-bottom:1px solid #666;
}